.base-box{
	background-image: linear-gradient(to bottom , rgba(0,0,0,.1) , rgba(0,0,0,.3));
	padding:3px 3px 3px 7px;
}

.editor-note{
	background-color:#9999ff;
	border-left : 6px solid #333399;
}

.warning{
	background-color:red;
	border-left :6px , solid , #993333;
}

.important{
	font-weight:bold;
}